.checkbox {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 18px;
  height: 18px;

  border: 2px solid var(--color-light-900);
  border-radius: 5px;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    border-radius: 50%;

    transition: ease-in 0.2s;
  }

  &:hover::before {
    width: 36px;
    height: 36px;
    background-color: var(--color-dark-500);
  }

  &:active::before {
    width: 36px;
    height: 36px;
    background-color: var(--color-dark-100);
  }

  &:focus-visible::before {
    width: 36px;
    height: 36px;
    background-color: var(--color-dark-100);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-dark-100);
    border: 2px solid var(--color-dark-100);

    & + .label {
      color: var(--color-dark-100);
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &[data-state="checked"] {
    border: 2px solid var(--color-light-300);

    &:disabled {
      background-color: var(--color-light-100);
      border: 2px solid var(--color-dark-100);
    }
  }
}

.container {
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: fit-content;
}
