.headerWrapper {
  margin-bottom: 1.563rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  gap: 9px;
  align-items: center;
}

.iconTrigger {
  transform: rotate(90deg);
  border: 1px solid var(--color-light-100);
  border-radius: 50%;
  transition: all 0.2s linear;

  &:hover {
    border: 1px solid var(--color-accent-500);
    fill: var(--color-accent-500);
  }
}

.iconButton {
  &:hover {
    fill: var(--color-accent-500);
  }
}

.deckImg {
  aspect-ratio: 3/2;
  width: 170px;
  height: 107px;
  margin-top: 15px;

  object-fit: cover;
}
