.nameWithEditButton {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.name {
  margin: 0;
  padding: 0;
  text-align: center;
}

.editNameButton {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.email {
  margin: 12px 0;
  color: var(--color-dark-100);
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
