/* .cards {
  &-block {
    margin-top: 69px;
    text-align: center;
  }

  &-text {
    margin-bottom: 30px;
    color: var(--color-dark-100);
  }
}

 */

.infoBlock {
  margin-top: 69px;
  text-align: center;
}

.infoText {
  margin-bottom: 30px;
  color: var(--color-dark-100);
}
