.main {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin: 0 auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: calc(100% - var(--header-height));
    background-color: var(--color-dark-700);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-300);
  }
}
