.card {
  width: 100%;
  max-width: 420px;
}

.icon {
  width: 96px;
  height: 96px;
  margin-top: 27px;
}

.description {
  margin-top: 19px;
  color: var(--color-light-900);
  text-align: center;
}

.button {
  margin-top: 65px;
}
