.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: var(--header-height);

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: var(--container-width);
    padding: 12px var(--container-padding-inline);
  }

  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Logo {
    width: 157px;
    height: 36px;
  }
}
