.SelectItem {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  padding: 6px 12px;

  font-size: 16px;
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  word-break: break-all;

  background-color: var(--color-dark-900);

  transition: 0.2s ease-in-out;

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }

  &[data-state='checked'] {
    color: var(--color-accent-300);
  }
}

.paginationItem {
  padding: 1px 6px;
  background-color: var(--color-dark-700);
}
