.card {
  width: 100%;
  max-width: 420px;
  padding: 33px 36px 60px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password {
  margin-top: 51px;
}

.instructions {
  display: inline-block;
  margin: 19px 0 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}
